<div class="upcoming-events">
  <% if Event.upcoming.count > 0 %>
    <h1>Upcoming Events</h1>
    <div class="events-cards">
      <% Event.upcoming.each do |event| %>
        <div class="event-card">
          <div class="card-header" style="background-color: lightcyan">
            <h2><%= link_to event.title, event %></h2>
          </div>
          <div class="card-body">
            <p><strong>Date:</strong> <%= event.date %></p>
            <p><strong>Location:</strong> <%= event.location %></p>
          </div>
        </div>
      <% end %>
    </div>
  <% end %>
</div>

<div class="past-events">
  <% if Event.past.count > 0 %>
    <h1>Past Events</h1>
    <div class="events-cards">
      <% Event.past.each do |event| %>
        <div class="event-card">
          <div class="card-header" style="background-color: lightcyan">
            <h2><%= link_to event.title, event %></h2>
          </div>
          <div class="card-body">
            <p><strong>Date:</strong> <%= event.date %></p>
            <p><strong>Location:</strong> <%= event.location %></p>
          </div>
        </div>
      <% end %>
    </div>
  <% end %>
</div>

<% if (Event.past.count + Event.upcoming.count) <= 0 %>
  <div class="no-events-to-show" style="display: flex; flex-direction: column;">
    <h1>No Events Data</h1>
    <%= link_to 'Create Event', new_event_path, class:'btn btn-primary', style: 'width: 160px; position: relative; left: 41%' %>
  </div>
<% end %>