<h1>Invite people to <%= @event.title %></h1>

<%= form_for [@event, @invitation] do |f| %>

  <% if User.where.not(id: current_user.id).count != 0 %>
    <div class="field">
      <%= f.label :invitee_id %>
      <%= f.collection_select :invitee_id, User.where.not(id: current_user.id), :id, :email %>
    </div>

    <div class="actions">
      <%= f.submit 'Send Invitation', class: "btn btn-primary"%>
    </div>
  <% else %>
    <div class="field">
      <h4 style="margin: 20px">No other users except you!</h4>
      <%= link_to 'Back to Events', root_path, class: "btn btn-primary" %>
    </div>
  <% end %>
<% end %>
